name: Update TLD List

on:
  schedule:
    # runs on Monday at 9:00 AM.
    - cron: '0 9 * * 1'
  workflow_dispatch: # Allow manual trigger

jobs:
  update-tlds:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download latest TLD list
        run: |
          curl -sSLf https://data.iana.org/TLD/tlds-alpha-by-domain.txt -o lib/Domain/Sift/tlds.txt

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "automation(tlds.txt): detected change in remote TLD list, syncing"
          branch: automation/update-tlds
          delete-branch: true
          title: "automation(tlds.txt): sync TLD list with upstream IANA"
          body: |
            Automated update of TLD list from IANA.

            Source: https://data.iana.org/TLD/tlds-alpha-by-domain.txt

